<!DOCTYPE html>
<html lang="en">

<head>
    <title>About | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>


    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr"><%- include('navbar.ejs') %></div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="live-auction-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">About Us</h3>
                        </div>
                    </div>
                    <span class="line"></span>


                </div>
                <div>
                    <p class="about-para">
                        Welcome to NFT Talent, the premier marketplace for NFTs, proudly brought to you by our parent company, ICB Crypto Services.  Our platform is specifically designed to provide seamless trading, secure holding, and effortless minting of digital assets. As more than just a marketplace, we are a gateway to the exciting world of the metaverse, where art, technology, and community converge to create a new era of digital ownership.
                        <br>
                        <br>
                        As a company, we are delighted to play a central role in this expanding industry, and we remain committed to further enhancing our foundational framework as we construct the most user-friendly marketplace for buyers, sellers, and creators. Our dedication to investment in core infrastructure underscores our determination to create an easily accessible platform for all stakeholders involved.
                        <br>
                        <br>
                        Our vision extends beyond being just a marketplace. As we embark on this exhilarating journey of discovery, NFT Talent is committed to promoting inclusivity and diversity, ensuring authenticity and provenance, and providing a user-friendly interface that makes navigating the NFT universe a breeze.
                        <br>
                        <br>
                        Join us at NFT Talent, where you can explore, collect, and create the talents of the NFT universe. Whether you are an artist looking to showcase your work, a collector seeking unique pieces, or simply an enthusiast eager to participate in this groundbreaking movement, NFT Talent has something special for you!

                    </p>
                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>