<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ambassador Program | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>


    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr"><%- include('navbar.ejs') %></div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="common-text">
                    <h4 class="heading-4 para-title">Welcome to the Ambassador Program!</h4>

                    <p class="about-para">We are thrilled to introduce our Ambassador Program, a community-driven
                        initiative that aims to bring together passionate individuals who share our vision for the NFT
                        marketplace. Our Ambassadors play a vital role in representing our platform, fostering community
                        growth, and spreading awareness about the exciting opportunities we offer.
                    </p>
                    <p class="para-title">What does it mean to be an Ambassador?
                    </p>
                    <p class="about-para">
                        As an Ambassador, you become a valued advocate for our marketplace and help shape its future.
                        You will be part of an exclusive group of individuals who are passionate about NFTs, blockchain
                        technology, and the creative economy. Your role will involve engaging with our community,
                        promoting our platform's unique features, and supporting artists and collectors in their NFT
                        journey.
                    </p>
                    <p class="para-title">
                        What are the benefits of being an Ambassador?
                    </p>
                    <p class="about-para">Exclusive Access: As an Ambassador, you'll have early access to new features,
                        updates, and upcoming events on our marketplace. Stay ahead of the curve and be the first to
                        explore exciting opportunities.</p>

                    <ul class="about-para">
                        <li>
                            <b>Recognition and Exposure:</b>
                            Gain visibility within the NFT community and beyond. We appreciate the contributions of our
                            Ambassadors and will acknowledge your dedication through various channels, including social
                            media features, shoutouts, and mentions on our website.
                        </li>
                        <li>
                            <b>Networking Opportunities:</b>
                            Connect with fellow Ambassadors, artists, collectors, and industry professionals. Expand
                            your network, collaborate on projects, and engage in meaningful discussions that drive
                            innovation in the NFT space.
                        </li>
                        <li>
                            <b>Swag and Perks:</b>
                            Enjoy exclusive merchandise, custom-branded Ambassador materials, and special perks as a
                            token of our appreciation for your commitment to our platform.
                        </li>
                        <li>
                            <b>Ambassadors-Only Events:</b>
                            Participate in virtual and in-person events exclusively tailored for Ambassadors. Join us
                            for meetups, workshops, panels, and other exciting activities designed to foster
                            collaboration and learning.
                        </li>
                    </ul>

                    <p class="para-title">
                        How to become an Ambassador?
                    </p>
                    <p class="about-para">
                        We are looking for passionate individuals who are actively involved in the NFT and blockchain
                        community. If you are enthusiastic, knowledgeable, and eager to contribute, we invite you to
                        apply to become an Ambassador. Simply send us an email to <a
                            href="mailto:support@nfttalent.io">support@nfttalent.io</a> and telling us
                        about your background, experience, and why you would make an excellent Ambassador.

                    </p>
                    <p class="about-para">Please note that while we appreciate all applications, we may have limited
                        spots available. Our team will review each application carefully, considering factors such as
                        community involvement, expertise, and alignment with our platform's values.
                    </p>
                    <p class="about-para">
                        Apply now and be a part of something extraordinary!
                    </p>

                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>