<!DOCTYPE html>
<html lang="en">

<head>
    <title>Careers | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="live-auction-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">Careers</h3>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div>
                    <p class="about-para">
                        Build a Future with NFT TALENT <br><br>
                        We want to be the global destination for discovering, expressing, and owning digital culture.
                        Because our policy is to
                        ship first and constantly improve, working at NFT TALENT is an excellent opportunity to grow and
                        learn. <br><br>
                        To foster innovation and drive success, we firmly believe it is crucial to have a diverse
                        workforce and an inclusive
                        culture. Therefore At all levels of our organization, we strive to promote diversity, equity,
                        and inclusion. There is
                        great pride in our commitment to creating a workplace where every employee can feel valued and
                        realize their full
                        potential. <br><br>
                        We have a wide variety of opportunities for you, regardless of your career stage.
                        Join our talent network. <br><br>
                        Current job opportunities: <br><br>
                    </p>
                    <div class="about-para terms-main-content">
                        <h4>Open roles: </h4>
                        <div class="open-positions accordion" id="openPositions">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                        Community Manager
                                    </button>
                                </h2>
                                <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="position-1"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As a Community Manager at our NFT marketplace, you will be responsible for
                                        building, nurturing, and engaging our vibrant community of artists,
                                        collectors, and enthusiasts. You will play a pivotal role in creating a
                                        positive and inclusive environment, facilitating meaningful interactions,
                                        and driving community growth and retention.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Community Engagement:</b>
                                                Act as the primary point of contact for our community
                                                members, actively engaging with them through various channels, including
                                                social media, forums, and community platforms. Foster a sense of
                                                belonging,
                                                address inquiries, and provide timely support and guidance.
                                            </li>

                                            <li>
                                                <b>Content Creation and Curation:</b>
                                                Create compelling content, such as blog
                                                posts, social media updates, newsletters, and community announcements,
                                                to
                                                keep the community informed and engaged. Curate and share relevant
                                                content
                                                from community members to showcase their work and encourage
                                                collaboration.
                                            </li>


                                            <li>
                                                <b>Community Growth and Retention:</b>
                                                Develop and implement strategies to attract
                                                new community members and retain existing ones. Collaborate with
                                                marketing
                                                and outreach teams to identify growth opportunities, such as
                                                partnerships,
                                                events, and initiatives, that expand our community reach.
                                            </li>

                                            <li>
                                                <b>Relationship Building:</b>
                                                Cultivate strong relationships with community
                                                members, artists, collectors, and influencers. Actively listen to their
                                                feedback, suggestions, and concerns, and relay insights to the relevant
                                                teams to drive continuous improvement and meet community needs.
                                            </li>

                                            <li>
                                                <b>Events and Contests:</b>
                                                Plan and coordinate community events, contests, and
                                                challenges to foster engagement and excitement. Collaborate with
                                                cross-functional teams to develop creative and rewarding experiences
                                                that
                                                reflect the interests and preferences of our community.
                                            </li>

                                            <li>
                                                <b>Moderation and Conflict Resolution:</b>
                                                Monitor community platforms, social
                                                media channels, and forums to ensure adherence to community guidelines
                                                and
                                                policies. Address conflicts, maintain a positive atmosphere, and resolve
                                                issues promptly and professionally.
                                            </li>

                                            <li>
                                                <b>Analytics and Reporting:</b>
                                                Monitor community metrics, engagement levels,
                                                sentiment analysis, and other relevant data points. Provide regular
                                                reports
                                                and insights to the management team, highlighting trends, opportunities,
                                                and
                                                areas for improvement.
                                            </li>

                                            <li>
                                                <b>Industry Insights:</b>
                                                Stay up-to-date with industry trends, emerging
                                                technologies, and community best practices. Share knowledge and insights
                                                with the team, enabling us to adapt and innovate in response to changing
                                                community dynamics.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Previous experience in community management, preferably in the tech,
                                                blockchain, or digital art industry.
                                            </li>
                                            <li>
                                                Excellent written and verbal communication skills, with a natural
                                                ability to
                                                connect with diverse audiences.
                                            </li>
                                            <li>
                                                Strong understanding of social media platforms, community forums, and
                                                engagement strategies.
                                            </li>
                                            <li>
                                                Empathy and exceptional interpersonal skills to foster positive
                                                relationships and resolve conflicts.
                                            </li>
                                            <li>
                                                Creative thinking and problem-solving skills to develop innovative
                                                community
                                                engagement initiatives.
                                            </li>
                                            <li>
                                                Ability to work independently and collaboratively in a fast-paced,
                                                dynamic
                                                environment.
                                            </li>
                                            <li>
                                                Familiarity with analytics tools and platforms to track community
                                                metrics
                                                and extract actionable insights.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the digital art ecosystem.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                        Digital PR Specialist
                                    </button>
                                </h2>
                                <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="position-2"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As a Digital PR Specialist at our NFT marketplace, you will play a pivotal role
                                        in shaping our online presence, building brand awareness, and fostering positive
                                        relationships with key stakeholders in the digital space. You will leverage your
                                        expertise in public relations, communication strategies, and online media to
                                        promote our platform, engage our target audience, and position us as a thought
                                        leader in the NFT ecosystem.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Public Relations Strategy:</b>
                                                Develop and implement comprehensive digital PR strategies that align
                                                with our brand objectives and target audience. Create compelling
                                                narratives and stories to generate media coverage, enhance brand
                                                reputation, and drive engagement.
                                            </li>

                                            <li>
                                                <b>Media Relations:</b>
                                                Build and nurture relationships with relevant journalists, bloggers,
                                                influencers, and media outlets in the digital art, blockchain, and tech
                                                industries. Pitch newsworthy stories, press releases, and expert
                                                commentary to secure media placements and increase brand visibility.
                                            </li>


                                            <li>
                                                <b>Content Creation and Distribution:</b>
                                                Develop engaging and shareable content, such as press releases, blog
                                                posts, articles, and thought leadership pieces. Optimize content for
                                                search engines and social media platforms to maximize reach and impact.
                                            </li>

                                            <li>
                                                <b>Social Media Engagement:</b>
                                                Collaborate with the social media team to align PR efforts with social
                                                media campaigns. Create captivating content that sparks conversations,
                                                increases followers, and cultivates a positive online community.
                                            </li>

                                            <li>
                                                <b>Online Reputation Management:</b>
                                                Monitor and manage our online reputation, proactively addressing any
                                                potential issues or negative sentiment. Respond to inquiries, comments,
                                                and feedback in a timely and professional manner.
                                            </li>

                                            <li>
                                                <b>Influencer Partnerships:</b>
                                                Identify and cultivate relationships with relevant influencers and
                                                industry experts. Collaborate on co-branded content, influencer
                                                campaigns, and partnerships to amplify our message and reach new
                                                audiences.
                                            </li>

                                            <li>
                                                <b>PR Analytics and Reporting:</b>
                                                Utilize PR monitoring tools and analytics platforms to measure the
                                                impact of PR campaigns, track media coverage, and report on key metrics.
                                                Provide regular reports on PR performance and insights to guide future
                                                strategies.
                                            </li>

                                            <li>
                                                <b>Industry Monitoring:</b>
                                                Stay up-to-date with industry trends, news, and developments related to
                                                NFTs, blockchain, digital art, and online marketplaces. Leverage this
                                                knowledge to identify opportunities for thought leadership, industry
                                                commentary, and media engagement.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Previous experience in digital PR, public relations, or communications,
                                                preferably in the tech or blockchain industry.
                                            </li>
                                            <li>
                                                Strong writing and storytelling skills, with the ability to craft
                                                compelling narratives for various digital platforms.
                                            </li>
                                            <li>
                                                Excellent media relations skills and a proven track record of securing
                                                media coverage.
                                            </li>
                                            <li>
                                                Familiarity with social media platforms and experience leveraging social
                                                media for PR purposes.
                                            </li>
                                            <li>
                                                Proficiency in PR monitoring tools, analytics platforms, and media
                                                databases.
                                            </li>
                                            <li>
                                                Strong organizational and project management skills, with the ability to
                                                handle multiple tasks and meet deadlines.
                                            </li>
                                            <li>
                                                Creative thinking and problem-solving skills to develop innovative PR
                                                strategies.
                                            </li>
                                            <li>
                                                Outstanding communication and interpersonal skills, with the ability to
                                                build and maintain relationships with media contacts and influencers.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the digital art ecosystem.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-3">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                        Events and Conferences Coordinator
                                    </button>
                                </h2>
                                <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="position-3"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As an Events and Conferences Coordinator at our NFT marketplace, you will play a
                                        crucial role in planning, organizing, and executing various events and
                                        conferences that contribute to the growth and visibility of our platform. You
                                        will have the opportunity to shape memorable experiences for our community and
                                        industry partners, showcasing the potential of NFTs and blockchain technology.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Event Planning and Execution:</b>
                                                Take ownership of end-to-end event planning, including
                                                conceptualization, logistics coordination, vendor management, budgeting,
                                                and on-site coordination. Ensure events are executed flawlessly,
                                                aligning with our brand vision and delivering exceptional experiences.
                                            </li>

                                            <li>
                                                <b>Conference Management:</b>
                                                Oversee the organization and management of conferences, both virtual and
                                                in-person. Coordinate with speakers, sponsors, and partners to curate
                                                engaging programs that educate and inspire participants about the NFT
                                                ecosystem and its possibilities.
                                            </li>


                                            <li>
                                                <b>Program Development:</b>
                                                Collaborate with cross-functional teams to develop compelling event
                                                programs that cater to the diverse interests and needs of our community.
                                                Identify trending topics, emerging industry themes, and relevant
                                                speakers to ensure content is informative and thought-provoking.
                                            </li>

                                            <li>
                                                <b>Attendee Engagement:</b>
                                                Implement strategies to maximize attendee engagement before, during, and
                                                after events. Foster networking opportunities, interactive sessions, and
                                                community-building activities that encourage participation and create
                                                lasting connections.
                                            </li>

                                            <li>
                                                <b>Partnership Management:</b>
                                                Build and maintain relationships with event sponsors, partners, and
                                                industry stakeholders. Identify potential collaboration opportunities
                                                and negotiate mutually beneficial partnerships that enhance event
                                                quality and reach.
                                            </li>

                                            <li>
                                                <b>Budget and Financial Management:</b>
                                                Develop event budgets, track expenses, and ensure cost-effective
                                                utilization of resources. Monitor financial aspects, including
                                                sponsorship revenue, ticket sales, and expenditure, to achieve financial
                                                objectives and maximize return on investment.
                                            </li>

                                            <li>
                                                <b>Post-Event Evaluation:</b>
                                                Conduct post-event evaluations, including attendee feedback analysis and
                                                performance metrics assessment. Identify areas for improvement, share
                                                insights, and implement learnings to continuously enhance future events.
                                            </li>

                                            <li>
                                                <b>Stay Updated with Industry Trends:</b>
                                                Keep abreast of the latest trends, technologies, and best practices in
                                                event planning, conferences, and the NFT space. Continuously seek
                                                innovative ideas and incorporate them into event strategies to deliver
                                                exceptional experiences.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Previous experience in event planning, preferably in the tech,
                                                blockchain, or digital art industry.
                                            </li>
                                            <li>
                                                Strong organizational skills with exceptional attention to detail.
                                            </li>
                                            <li>
                                                Excellent project management capabilities, including time management and
                                                prioritization.
                                            </li>
                                            <li>
                                                Ability to work collaboratively in cross-functional teams and manage
                                                relationships with external partners.
                                            </li>
                                            <li>
                                                Exceptional communication and interpersonal skills.
                                            </li>
                                            <li>
                                                Proactive problem-solving attitude and ability to work effectively under
                                                pressure.
                                            </li>
                                            <li>
                                                Familiarity with event management software and tools.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the creative economy.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-4">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                                        Financial Controller
                                    </button>
                                </h2>
                                <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="position-4"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As the Financial Controller at our NFT marketplace, you will play a crucial role
                                        in overseeing and managing all financial operations. You will ensure accurate
                                        financial reporting, monitor financial performance, and provide strategic
                                        financial insights to support decision-making and the overall growth of the
                                        platform.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Financial Reporting and Analysis:</b>
                                                Oversee the preparation of timely and accurate financial reports,
                                                including income statements, balance sheets, and cash flow statements.
                                                Analyze financial data to identify trends, opportunities, and areas for
                                                improvement.
                                            </li>

                                            <li>
                                                <b>Budgeting and Forecasting:</b>
                                                Collaborate with relevant stakeholders to develop annual budgets and
                                                financial forecasts. Monitor actual performance against budget and
                                                provide variance analysis to identify deviations and recommend
                                                corrective actions.
                                            </li>


                                            <li>
                                                <b>Financial Compliance:</b>
                                                Ensure compliance with financial regulations, accounting principles, and
                                                reporting standards. Stay updated with relevant laws and regulations to
                                                ensure the marketplace's financial practices align with legal
                                                requirements.
                                            </li>

                                            <li>
                                                <b>Financial Strategy and Planning:</b>
                                                Work closely with the executive team to provide financial insights and
                                                guidance for strategic decision-making. Provide financial support for
                                                new initiatives, partnerships, and expansion plans.
                                            </li>

                                            <li>
                                                <b>Cash Flow Management:</b>
                                                Manage cash flow and working capital to ensure liquidity for day-to-day
                                                operations and growth initiatives. Develop strategies to optimize cash
                                                flow and efficiently manage financial resources.
                                            </li>

                                            <li>
                                                <b>Financial Audits:</b>
                                                Coordinate financial audits and liaise with external auditors to ensure
                                                accurate and timely completion of audit processes. Implement audit
                                                recommendations and maintain a strong internal control environment.
                                            </li>

                                            <li>
                                                <b>Financial Policies and Procedures:</b>
                                                Develop and maintain financial policies and procedures to ensure proper
                                                financial controls and governance. Train team members on financial
                                                procedures and enforce compliance.
                                            </li>

                                            <li>
                                                <b>Financial Systems and Tools:</b>
                                                Oversee the implementation and maintenance of financial systems and
                                                tools to streamline processes and improve financial reporting
                                                efficiency.
                                            </li>

                                            <li>
                                                <b>Risk Management:</b>
                                                Identify financial risks and develop risk mitigation strategies. Monitor
                                                market trends, currency fluctuations, and other financial factors that
                                                may impact the marketplace's financial health.
                                            </li>

                                            <li>
                                                <b>Tax Planning and Compliance:</b>
                                                Collaborate with tax advisors to ensure compliance with tax laws and
                                                optimize tax planning strategies.
                                            </li>

                                            <li>
                                                <b>Financial Team Management:</b>
                                                Supervise and mentor finance team members, providing guidance and
                                                support to enhance their professional development and ensure team
                                                efficiency.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Bachelor's degree in Finance, Accounting, or a related field. CPA or
                                                relevant professional certification is a plus.
                                            </li>
                                            <li>
                                                Proven experience as a Financial Controller or similar role, preferably
                                                in the tech or fintech industry.
                                            </li>
                                            <li>
                                                Strong understanding of financial reporting, accounting principles, and
                                                financial regulations.
                                            </li>
                                            <li>
                                                Experience with financial analysis, budgeting, and forecasting.
                                            </li>
                                            <li>
                                                Proficiency in financial management software and tools.
                                            </li>
                                            <li>
                                                Exceptional analytical and problem-solving skills, with attention to
                                                detail.
                                            </li>
                                            <li>
                                                Excellent communication and interpersonal skills to work effectively
                                                with cross-functional teams and external stakeholders.
                                            </li>
                                            <li>
                                                Demonstrated leadership and people management abilities.
                                            </li>
                                            <li>
                                                Strong business acumen and strategic thinking.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the digital art ecosystem.
                                            </li>
                                            <li>
                                                Join our team and play a vital role in managing the financial health and
                                                growth of our NFT marketplace!
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-5">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                                        Performance Marketing Manager
                                    </button>
                                </h2>
                                <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="position-5"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As the Performance Marketing Manager at our NFT marketplace, you will be
                                        responsible for driving user acquisition, optimizing advertising campaigns, and
                                        leveraging data-driven strategies to enhance the marketplace's online presence
                                        and growth. Your focus will be on maximizing the return on investment (ROI) from
                                        various marketing channels and driving conversions to achieve the marketplace's
                                        business objectives.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Paid Advertising Strategy:</b>
                                                Develop and execute performance-based marketing strategies across
                                                various paid advertising channels, including Google Ads, social media
                                                ads, display advertising, and other relevant platforms.
                                            </li>

                                            <li>
                                                <b>Budget Management:</b>
                                                Manage the marketing budget for paid campaigns, ensuring effective
                                                allocation of resources to maximize ROI and meet acquisition targets.
                                            </li>


                                            <li>
                                                <b>Campaign Optimization:</b>
                                                Continuously monitor and analyze the performance of paid campaigns.
                                                Utilize data-driven insights to optimize ad performance, adjust bidding
                                                strategies, and refine targeting to improve key performance indicators
                                                (KPIs) such as click-through rates (CTR), conversion rates, and cost per
                                                acquisition (CPA).
                                            </li>

                                            <li>
                                                <b>A/B Testing and Experimentation:</b>
                                                Conduct A/B testing and other experiments to identify the most effective
                                                ad creatives, landing page designs, and messaging to drive higher
                                                engagement and conversion rates.
                                            </li>

                                            <li>
                                                <b>Conversion Rate Optimization (CRO):</b>
                                                Collaborate with the UX/UI design and development teams to optimize
                                                landing pages and user flows, ensuring a seamless and high-converting
                                                user experience.
                                            </li>

                                            <li>
                                                <b>Remarketing and Retargeting:</b>
                                                Develop remarketing and retargeting strategies to engage with users who
                                                have previously shown interest in the marketplace, increasing brand
                                                recall and driving conversions.
                                            </li>

                                            <li>
                                                <b>Data Analysis and Reporting:</b>
                                                Analyze marketing data and generate regular performance reports to
                                                provide insights and recommendations to the management team. Track KPIs
                                                and key metrics to measure the success of marketing campaigns.
                                            </li>

                                            <li>
                                                <b>Audience Segmentation:</b>
                                                Define and refine target audience segments based on user behavior,
                                                demographics, and other relevant factors to improve ad targeting and
                                                personalization.
                                            </li>

                                            <li>
                                                <b>Competitive Analysis:</b>
                                                Stay updated with industry trends and competitive marketing strategies.
                                                Identify opportunities for differentiation and growth based on market
                                                insights.
                                            </li>

                                            <li>
                                                <b>Collaborative Teamwork:</b>
                                                Work closely with cross-functional teams, including design, content, and
                                                analytics, to align performance marketing efforts with broader marketing
                                                initiatives.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Bachelor's degree in Marketing, Business, or a related field.
                                            </li>
                                            <li>
                                                Proven experience as a Performance Marketing Manager or a similar role,
                                                preferably in the tech or e-commerce industry.
                                            </li>
                                            <li>
                                                Expertise in managing paid advertising campaigns across platforms like
                                                Google Ads, Facebook Ads, etc.
                                            </li>
                                            <li>
                                                Strong analytical skills, with the ability to interpret data and make
                                                data-driven decisions.
                                            </li>
                                            <li>
                                                Knowledge of digital marketing tools and analytics platforms (e.g.,
                                                Google Analytics, Facebook Business Manager).
                                            </li>
                                            <li>
                                                Experience with A/B testing and conversion rate optimization strategies.
                                            </li>
                                            <li>
                                                Excellent communication and presentation skills to effectively convey
                                                marketing insights and strategies.
                                            </li>
                                            <li>
                                                Creative thinking and problem-solving abilities to drive innovative
                                                marketing approaches.
                                            </li>
                                            <li>
                                                Strong business acumen and strategic thinking.
                                            </li>
                                            <li>
                                                Strong project management skills, with the ability to manage multiple
                                                campaigns and meet deadlines.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the digital art ecosystem.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-6">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                                        Product Manager Assistant
                                    </button>
                                </h2>
                                <div id="collapse-6" class="accordion-collapse collapse " aria-labelledby="position-6"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As a Product Manager Assistant at our NFT marketplace, you will provide crucial
                                        support to the product management team, assisting in various aspects of product
                                        development and management. You will work closely with the Product Manager and
                                        cross-functional teams to ensure the successful execution of product initiatives
                                        and help drive the growth and success of our platform.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Product Documentation and Coordination:</b>
                                                Assist in the creation and maintenance of product documentation, including user stories, product specifications, and feature backlogs. Collaborate with the Product Manager to ensure accurate and up-to-date documentation that aligns with the product roadmap.
                                            </li>

                                            <li>
                                                <b>Requirements Gathering and Analysis:</b>
                                                Conduct research and gather user feedback to help identify and define product requirements. Assist in analyzing market trends, user needs, and competitor offerings to inform product decision-making.
                                            </li>


                                            <li>
                                                <b>Project Management Support:</b>
                                                Assist in project planning, execution, and monitoring of product initiatives. Help coordinate and track project timelines, milestones, and deliverables to ensure timely and successful product launches.
                                            </li>

                                            <li>
                                                <b>User Experience and Testing:</b>
                                                Collaborate with the design and development teams to ensure a seamless user experience. Assist in conducting user testing and feedback sessions to validate product features and enhancements.
                                            </li>

                                            <li>
                                                <b>Data Analysis and Insights:</b>
                                                Assist in analyzing product data, user metrics, and feedback to provide insights and recommendations for product improvements. Help monitor key performance indicators (KPIs) and assist in preparing reports to track product performance.
                                            </li>

                                            <li>
                                                <b>Cross-Functional Collaboration:</b>
                                                Collaborate with cross-functional teams, including development, design, marketing, and community teams, to facilitate effective communication and coordination. Assist in aligning team efforts to meet product goals and objectives.
                                            </li>

                                            <li>
                                                <b>Competitive Analysis:</b>
                                                Support the Product Manager in conducting competitive analysis to stay informed about industry trends, competitor offerings, and market dynamics. Assist in identifying opportunities for differentiation and innovation.
                                            </li>

                                            <li>
                                                <b>Research and Knowledge Sharing:</b>
                                                Stay up-to-date with industry trends, emerging technologies, and best practices in the NFT and digital art space. Conduct research and share insights with the product management team to drive continuous improvement and innovation.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Strong organizational and multitasking skills, with the ability to prioritize and manage multiple tasks effectively.
                                            </li>
                                            <li>
                                                Excellent attention to detail and accuracy in documenting product specifications and requirements.
                                            </li>
                                            <li>
                                                Solid communication skills, both written and verbal, with the ability to collaborate effectively in a team environment.
                                            </li>
                                            <li>
                                                Analytical mindset and ability to gather, analyze, and interpret data to drive product decisions.
                                            </li>
                                            <li>
                                                Familiarity with Agile development methodologies and project management concepts.
                                            </li>
                                            <li>
                                                Basic understanding of user experience (UX) design principles and user-centered design.
                                            </li>
                                            <li>
                                                Proficiency in productivity tools, project management software, and Microsoft Office Suite.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the digital art ecosystem.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-7">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                                        Product Manager
                                    </button>
                                </h2>
                                <div id="collapse-7" class="accordion-collapse collapse " aria-labelledby="position-7"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As a Product Manager at our NFT marketplace, you will be responsible for driving the strategic development and management of our platform's products and features. You will collaborate with cross-functional teams to define product vision, prioritize enhancements, and ensure successful product delivery that meets the needs of our users and aligns with our business objectives.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Product Strategy and Vision:</b>
                                                Develop and communicate a clear product strategy and vision for our NFT marketplace. Stay informed about industry trends, user needs, and market dynamics to identify opportunities for innovation and growth.
                                            </li>

                                            <li>
                                                <b>Product Roadmap Planning:</b>
                                                Collaborate with stakeholders, including executives, marketing, design, development, and community teams, to define and prioritize features, enhancements, and new product initiatives. Create and maintain a detailed product roadmap that aligns with our business goals.
                                            </li>


                                            <li>
                                                <b>Requirements Gathering and Documentation:</b>
                                                Conduct market research, user feedback analysis, and competitive analysis to gather insights and define product requirements. Document user stories, use cases, and product specifications to guide the development process.
                                            </li>

                                            <li>
                                                <b>User Experience and Design:</b>
                                                Work closely with design and user experience teams to create intuitive, engaging, and user-centered product experiences. Advocate for the best possible user experience and ensure that design decisions align with the product vision and goals.
                                            </li>

                                            <li>
                                                <b>Agile Development Management:</b>
                                                Collaborate with the development team using Agile methodologies, such as Scrum or Kanban, to ensure efficient and timely product delivery. Prioritize and manage the product backlog, participate in sprint planning, and facilitate effective communication between teams.
                                            </li>

                                            <li>
                                                <b>Product Launch and Adoption:</b>
                                                Plan and execute successful product launches, working closely with marketing and communications teams. Develop go-to-market strategies, positioning, and messaging to drive user adoption and satisfaction.
                                            </li>

                                            <li>
                                                <b>Performance Tracking and Analysis:</b>
                                                Define and monitor key performance indicators (KPIs) to evaluate product performance and inform decision-making. Conduct data analysis, user feedback analysis, and A/B testing to gain insights and drive continuous product improvements.
                                            </li>

                                            <li>
                                                <b>Collaboration and Stakeholder Management:</b>
                                                Foster strong relationships with internal and external stakeholders, including executives, developers, designers, marketing teams, and community members. Facilitate effective communication, align expectations, and manage product-related dependencies.
                                            </li>

                                            <li>
                                                <b>Industry Research and Knowledge Sharing:</b>
                                                Stay up-to-date with industry trends, emerging technologies, and best practices in the NFT and digital art space. Share knowledge and insights with the team, driving innovation and continuous improvement.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Previous experience in product management or product ownership, preferably in the tech, blockchain, or digital art industry.
                                            </li>
                                            <li>
                                                Demonstrated experience in leading and delivering successful software products or digital platforms.
                                            </li>
                                            <li>
                                                Solid communication skills, both written and verbal, with the ability to collaborate effectively in a team environment.
                                            </li>
                                            <li>
                                                Excellent analytical and problem-solving skills, with the ability to translate user needs into actionable product requirements.
                                            </li>
                                            <li>
                                                Strong project management skills, with the ability to prioritize and manage multiple tasks in a fast-paced environment.
                                            </li>
                                            <li>
                                                Solid understanding of user experience design principles and ability to advocate for exceptional user experiences.
                                            </li>
                                            <li>
                                                Excellent communication and collaboration skills, with the ability to work effectively in cross-functional teams.
                                            </li>
                                            <li>
                                                Familiarity with Agile development methodologies, such as Scrum or Kanban.
                                            </li>
                                            <li>
                                                Passion for NFTs, blockchain technology, and the digital art ecosystem.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="position-7">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                                        Video Content Marketing Specialist
                                    </button>
                                </h2>
                                <div id="collapse-8" class="accordion-collapse collapse " aria-labelledby="position-7"
                                    data-bs-parent="#openPositions">
                                    <div class="accordion-body">
                                        <b>Job Description: </b><br>
                                        As a Video Content Marketing Specialist at our NFT marketplace, you will be responsible for creating compelling video content that drives engagement, increases brand awareness, and promotes our platform to a wider audience. You will utilize your expertise in video production, storytelling, and digital marketing to develop captivating video campaigns that resonate with our target audience.
                                        <ul class="privacy-ul">
                                            <br>

                                            <b>Responsibilities:</b>

                                            <li>
                                                <b>Video Content Strategy:</b>
                                                Develop and execute a comprehensive video content strategy aligned with our marketing objectives. Identify target audience segments, key messaging, and storytelling approaches to create impactful videos that convey our brand's value proposition.
                                            </li>

                                            <li>
                                                <b>Video Production:</b>
                                                Plan, script, shoot, and edit high-quality videos for various marketing initiatives. This includes promotional videos, product demos, artist spotlights, educational content, event coverage, and more. Ensure videos are visually appealing, engaging, and aligned with our brand guidelines.
                                            </li>


                                            <li>
                                                <b>Storytelling and Scriptwriting:</b>
                                                Craft compelling narratives and scripts that effectively communicate our brand story, product features, and value proposition. Collaborate with cross-functional teams to gather input and ensure messaging consistency across different video projects.
                                            </li>

                                            <li>
                                                <b>Video Editing and Post-Production:</b>
                                                Utilize video editing software and tools to edit, enhance, and finalize videos. Incorporate graphics, animations, and sound effects to enhance visual appeal and storytelling. Optimize videos for different platforms and distribution channels.
                                            </li>

                                            <li>
                                                <b>Video Distribution and Promotion:</b>
                                                Develop strategies for video distribution and promotion across various channels, including social media platforms, our website, email marketing, and partner networks. Optimize videos for search engines and implement SEO best practices.
                                            </li>

                                            <li>
                                                <b>Performance Analysis:</b>
                                                Monitor video performance metrics, including views, engagement, and conversion rates. Analyze data to gain insights into viewer behavior and preferences. Use these insights to refine video content strategies and improve future video campaigns.
                                            </li>

                                            <li>
                                                <b>Collaboration and Coordination:</b>
                                                Collaborate with internal teams, including marketing, design, and social media, to align video content with overall marketing initiatives. Coordinate with external vendors, agencies, and talent to ensure smooth production processes.
                                            </li>

                                            <li>
                                                <b>Stay Current with Video Trends:</b>
                                                Stay updated with emerging video trends, industry best practices, and new technologies. Experiment with innovative video formats, storytelling techniques, and production tools to keep our video content fresh and engaging.
                                            </li>
                                        </ul>

                                        <b>Requirements:</b>
                                        <ul class="privacy-ul">
                                            <li>
                                                Previous experience in video content creation, video production, or digital marketing, preferably in the tech or creative industry.
                                            </li>
                                            <li>
                                                Proficiency in video editing software and tools, such as Adobe Premiere Pro, Final Cut Pro, or equivalent.
                                            </li>
                                            <li>
                                                Strong storytelling and scriptwriting skills, with the ability to distill complex ideas into concise and engaging video content.
                                            </li>
                                            <li>
                                                Knowledge of video production techniques, including shooting, lighting, sound, and post-production.
                                            </li>
                                            <li>
                                                Familiarity with video distribution platforms, social media platforms, and video analytics tools.
                                            </li>
                                            <li>
                                                Creative thinking and a keen eye for visual aesthetics to produce visually compelling videos.
                                            </li>
                                            <li>
                                                Excellent communication and project management skills, with the ability to collaborate effectively in a team environment.
                                            </li>
                                            <li>
                                                Passion for NFTs, digital art, blockchain technology, and the creative economy.
                                            </li>
                                        </ul>
                                        To apply, please submit your resume via <a
                                            href="mailto:support@nfttalent.io">support@nfttalent.io</a>, along with
                                        a
                                        cover letter highlighting your relevant experience and why you are
                                        interested in this role. We look forward to hearing from you!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>