<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trust & Safety | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="common-text">
                    <h4 class="heading-4 para-title">Trust & Safety</h4>
                    <p class="about-para">
                        At NFT Talent, trust and safety are at the core of our mission. We understand that in the
                        fast-paced world of NFTs, security and peace of mind are paramount for our users. Therefore, we
                        have implemented a range of measures to ensure a secure and transparent environment for all
                        interactions on our marketplace.
                    </p>

                    <ul class="about-para">
                        <li>
                            <b>Secure Transactions:</b>
                            We employ robust security measures to safeguard all transactions on our NFT marketplace. Our
                            platform utilizes industry-standard encryption protocols to protect your personal and
                            financial information.
                        </li>
                        <li>
                            <b>Verified Artists and Creators:</b>
                            We verify the authenticity of artists and creators to ensure that the NFTs listed on our
                            marketplace are genuine. This helps in promoting trust and transparency within our
                            community.
                        </li>
                        <li>
                            <b>Community Guidelines:</b>
                            We have clear community guidelines in place to foster a positive and respectful environment.
                            Any form of fraudulent, offensive, or inappropriate behavior is strictly prohibited, and we
                            take appropriate actions against violators.
                        </li>
                        <li>
                            <b>Smart Contract Audits:</b>
                            We conduct thorough smart contract audits to minimize the risk of vulnerabilities or code
                            issues. This extra layer of scrutiny ensures the integrity and reliability of the NFTs
                            traded on our platform.
                        </li>
                        <li>
                            <b>Dispute Resolution:</b>
                            In the unlikely event of a dispute, we have a dedicated support team to assist in resolving
                            issues promptly and fairly. We aim to provide efficient and transparent solutions that
                            prioritize the satisfaction of our users.
                        </li>
                        <li>
                            <b>Transparency and Information:</b>
                            We strive to provide comprehensive information about the NFTs listed on our marketplace,
                            including details about the artist, creation process, and any associated rights or licenses.
                            This empowers buyers to make informed decisions.
                        </li>
                        <li>
                            <b>Buyer and Seller Protection:</b>
                            We implement safeguards to protect both buyers and sellers from fraudulent activities. This
                            includes escrow services, where funds are held securely until the transaction is
                            successfully completed.
                        </li>
                        <li>
                            <b>Ongoing Monitoring and Improvements: </b>
                            We continuously monitor our marketplace for any suspicious activities or emerging threats.
                            Our team actively seeks user feedback and suggestions to enhance the security and safety
                            measures on our platform.
                        </li>
                    </ul>

                    <p class="para-title">
                        However, it's important to note that while we make every effort to assess the projects and their
                        associated risks, NFT investments inherently carry a level of market volatility and individual
                        responsibility. We encourage our users to conduct their own research and seek independent advice
                        before making any investment decisions.

                    </p>

                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>